@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

* {
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 10vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  font-family: "Varela", sans-serif;
  text-transform: capitalize;
}

.main {
  height: 80vh;
  width: 80vw;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  backdrop-filter: blur(10px);
  padding: 1rem;
  box-sizing: border-box;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.input {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Varela", sans-serif;
  text-transform: capitalize;
}

input,
select {
  width: 280px;
  height: 50px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  outline: none !important;
  border: 0;
  margin: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 3px #4f85a8;
  font-family: "Varela", sans-serif;
}

button {
  width: 200px;
  height: 50px;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 1.2rem;
  box-shadow: 1px 1px 3px #4f85a8;
  font-family: "Varela", sans-serif;
  text-transform: capitalize;
}

button:hover,
input:hover,
select:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 600px) {
  .container {
    overflow-y: auto;
  }

  .input {
    flex-direction: column;
  }

  input,
  select {
    width: 200px;
  }
}
